.article-container {
	max-width: 1000px;

	article {
		padding: 1.5rem;

		.subheading {
			font-size: 1rem;
			font-weight: 600;
		}

		figure {
			margin: 2rem 0;
		}
	}
	@media only screen and (min-width: 769px) {
		article {
			margin-top: 1.5rem;
		}
	}
}
