section.blogitem {
	margin-bottom: 1.5rem;

	figure {
		margin: 0;

		img {
			max-height: 300px;
			object-fit: cover;
		}
	}

	.content-wrapper {
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		max-width: 100%;

		p {
			line-height: 1.5;
		}

		a {
			align-self: flex-end;
			margin-top: 2rem;
		}
	}
}

@media only screen and (min-width: 769px) {
	section.blogitem {
		display: flex;

		figure {
			img {
				width: auto;
			}
		}

		.content-wrapper {
			width: 100%;
			padding: 0;
			margin-left: 2rem;
			margin-right: 2rem;
		}
	}
}

@media only screen and (min-width: 1400px) {
	section.blogitem {
		.content-wrapper {
			margin-right: 0;
		}
	}
}
