section.blog-posts {
	padding: 1.5rem;

	article.blog-item {
		margin-bottom: 2rem;

		figure {
			margin: 0;
		}
	}
}

@media only screen and (min-width: 768px) {
	section.blog-posts {
		margin-bottom: 2rem;
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 1.75rem;
	}
}
